---
import Layout from "@/layouts/Layout.astro";
import bgPattern from "@/assets/landingPage/blueBgPattern.jpg";
import markdownRenderImg from "@/assets/components/markdownRender.png";
import LinearTocImg from "@/assets/components/linearToc.png";
import mobileTocImg from "@/assets/components/mobileToc.png";
import linesTocImg from "@/assets/components/linesToc.png";

Astro.response.headers.set(
    "Cache-Control",
    "public, max-age=600, s-maxage=600, stale-while-revalidate=600",
);
---

<Layout>
    <div class="max-w-[800px] px-4 w-full mx-auto pt-20 md:pt-25 min-h-screen">
        <h1 class="text-[30px] md:text-[40px] font-[400]">Components</h1>
        <p class="text-[16px] text-muted-foreground mt-2">
            Install the react components used in this site.<br /> All components made
            by me (codex and gemini) and some I did install from other packages, all
            credits are given in each comoponent's page.
        </p>

        <div
            class="grid grid-cols-1 md:grid-cols-2 md:space-x-6 space-y-4 mt-10"
        >
            <a
                href="/components/markdown"
                class="flex flex-col gap-3 group"
                data-astro-prefetch="viewport"
            >
                <div
                    class="overflow-hidden relative rounded-[12px] md:aspect-square md:h-auto h-[200px] p-7 pb-0"
                >
                    <img
                        src={bgPattern.src}
                        alt="Pattern background for the Markdown Render component card"
                        class="absolute z-[-1] left-0 top-0 h-full w-full object-cover object-left group-hover:object-right transition-all duration-400 ease-in-out"
                    />
                    <img
                        src={markdownRenderImg.src}
                        alt="Preview of the Markdown Render component"
                        class="object-cover object-top rounded-t-[8px] w-full h-full"
                    />
                </div>
                <h2
                    class="text-[16px] px-2 md:text-foreground/50 transition-all duration-300 group-hover:text-foreground"
                >
                    Markdown Render
                </h2>
            </a>
            <a
                href="/components/linear-toc"
                class="flex flex-col gap-3 group"
                data-astro-prefetch="viewport"
            >
                <div
                    class="overflow-hidden relative rounded-[10px] md:aspect-square md:h-auto h-[200px] pr-0 pt-0 p-7"
                >
                    <img
                        src={bgPattern.src}
                        alt="Pattern background for the Linear Table of Content component card"
                        class="absolute z-[-1] left-0 top-0 h-full w-full object-cover object-left group-hover:object-right transition-all duration-400 ease-in-out"
                    />
                    <img
                        src={LinearTocImg.src}
                        alt="Preview of the Linear Table of Content component"
                        class="object-cover object-left rounded-bl-[8px] w-full h-full"
                    />
                </div>
                <h2
                    class="text-[16px] px-2 md:text-foreground/50 transition-all duration-300 group-hover:text-foreground"
                >
                    Linear style table of content
                </h2>
            </a>
            <a
                href="/components/mobile-toc"
                class="flex flex-col gap-3 group"
                data-astro-prefetch="viewport"
            >
                <div
                    class="overflow-hidden relative rounded-[10px] md:aspect-square p-7 flex items-center justify-center"
                >
                    <img
                        src={bgPattern.src}
                        alt="Pattern background for the Mobile Table of Content component card"
                        class="absolute z-[-1] left-0 top-0 h-full w-full object-cover object-left group-hover:object-right transition-all duration-400 ease-in-out"
                    />
                    <img
                        src={mobileTocImg.src}
                        alt="Preview of the Mobile Table of Content component"
                        class="object-contain rounded-[12px] w-full h-fit"
                    />
                </div>
                <h2
                    class="text-[16px] px-2 md:text-foreground/50 transition-all duration-300 group-hover:text-foreground"
                >
                    Mobile table of content
                </h2>
            </a>
            <a
                href="/components/lines-toc"
                class="flex flex-col gap-3 group"
                data-astro-prefetch="viewport"
            >
                <div
                    class="overflow-hidden relative rounded-[10px] md:aspect-square md:h-auto h-[200px] p-7 pb-0 pl-0"
                >
                    <img
                        src={bgPattern.src}
                        alt="Pattern background for the Lines Table of Content component card"
                        class="absolute z-[-1] left-0 top-0 h-full w-full object-cover object-left group-hover:object-right transition-all duration-400 ease-in-out"
                    />
                    <img
                        src={linesTocImg.src}
                        alt="Preview of the Lines Table of Content component"
                        class="object-cover object-right rounded-tr-[8px] w-full h-full"
                    />
                </div>
                <h2
                    class="text-[16px] px-2 md:text-foreground/50 transition-all duration-300 group-hover:text-foreground"
                >
                    Lines table of content
                </h2>
            </a>
            <div></div>
        </div>
    </div>
</Layout>
