---
import { Image } from "astro:assets";
import { Button } from "@/components/ui/button";

import LinkedInLogo from "@/assets/logos/linkedinLogo.png";
import XLogo from "@/assets/logos/xLogo.jpg";
import MediumLogo from "@/assets/logos/mediumLogo.jpeg";
import RedditLogo from "@/assets/logos/redditLogo.jpeg";
import DevtoLogo from "@/assets/logos/devto.webp";
import HashnodeLogo from "@/assets/logos/hashnodeLogo.png";
import AppLogo from "@/assets/logos/appLogo.png";

type Position =
  | "left-top"
  | "left-middle"
  | "left-bottom"
  | "right-top"
  | "right-middle"
  | "right-bottom";

interface Props {
  hideText?: boolean;
}

const { hideText = false } = Astro.props as Props;

const lineClasses: Record<Position, string> = {
  "left-top": "left-full top-1/2 w-[130px] origin-left rotate-[25deg]",
  "left-middle": "left-full top-1/2 w-[120px] origin-left",
  "left-bottom": "left-full top-1/2 w-[130px] origin-left rotate-[-25deg]",
  "right-top": "bg-linear-to-l right-full top-1/2 w-[130px] origin-right rotate-[-25deg]",
  "right-middle": "bg-linear-to-l right-full top-1/2 w-[120px] origin-right",
  "right-bottom": "bg-linear-to-l right-full top-1/2 w-[130px] origin-right rotate-[25deg]",
};

const getCardClass = (className?: string) => `bg-background relative flex size-12 rounded-xl border dark:bg-transparent ${className ?? ""}`.trim();
const getInnerClass = (isCenter = false) => `relative z-2 m-auto size-fit ${isCenter ? "*:size-8" : "*:size-6"}`;
---

<section>
  <div class="">
    <div class="mx-auto max-w-5xl px-6">
      <div class="relative mx-auto flex max-w-sm items-center justify-between">
        <div class="space-y-6">
          <div class={getCardClass()}>
            <div class={getInnerClass()}>
              <Image src={LinkedInLogo} alt="LinkedIn" class="size-6 object-cover rounded-[4px]" loading="lazy" />
            </div>
            <div class={`bg-linear-to-r to-muted-foreground/25 absolute z-1 h-px ${lineClasses["left-top"]}`} />
          </div>
          <div class={getCardClass()}>
            <div class={getInnerClass()}>
              <Image src={XLogo} alt="X" class="size-6 object-cover rounded-[4px]" loading="lazy" />
            </div>
            <div class={`bg-linear-to-r to-muted-foreground/25 absolute z-1 h-px ${lineClasses["left-middle"]}`} />
          </div>
          <div class={getCardClass()}>
            <div class={getInnerClass()}>
              <Image src={MediumLogo} alt="Medium" class="size-6 object-cover rounded-[4px]" loading="lazy" />
            </div>
            <div class={`bg-linear-to-r to-muted-foreground/25 absolute z-1 h-px ${lineClasses["left-bottom"]}`} />
          </div>
        </div>

        <div class="mx-auto my-2 flex w-fit justify-center gap-2">
          <div class="bg-muted relative z-2 rounded-2xl border p-1">
            <div class={getCardClass("shadow-black-950/10 dark:bg-background size-16 border-black/25 shadow-xl dark:border-white/25 dark:shadow-white/10")}>
              <div class={getInnerClass(true)}>
                <Image src={AppLogo} alt="Whitepapper" class="size-8 object-contain" loading="lazy" />
              </div>
            </div>
          </div>
        </div>

        <div
          role="presentation"
          class="absolute inset-1/3 bg-[radial-gradient(var(--dots-color)_1px,transparent_1px)] opacity-50 [--dots-color:black] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)] dark:[--dots-color:white]"
        ></div>

        <div class="space-y-6">
          <div class={getCardClass()}>
            <div class={getInnerClass()}>
              <Image src={RedditLogo} alt="Reddit" class="size-6 object-cover rounded-[4px]" loading="lazy" />
            </div>
            <div class={`bg-linear-to-r to-muted-foreground/25 absolute z-1 h-px ${lineClasses["right-top"]}`} />
          </div>
          <div class={getCardClass()}>
            <div class={getInnerClass()}>
              <Image src={DevtoLogo} alt="Dev.to" class="size-6 object-cover rounded-[4px]" loading="lazy" />
            </div>
            <div class={`bg-linear-to-r to-muted-foreground/25 absolute z-1 h-px ${lineClasses["right-middle"]}`} />
          </div>
          <div class={getCardClass()}>
            <div class={getInnerClass()}>
              <Image src={HashnodeLogo} alt="Hashnode" class="size-6 object-cover rounded-[4px]" loading="lazy" />
            </div>
            <div class={`bg-linear-to-r to-muted-foreground/25 absolute z-1 h-px ${lineClasses["right-bottom"]}`} />
          </div>
        </div>
      </div>

      {!hideText && (
        <div class="mx-auto mt-12 max-w-lg space-y-6 text-center">
          <h2 class="text-balance text-3xl font-semibold md:text-4xl">Write once, distribute everywhere</h2>
          <p class="text-muted-foreground">
            One source, every platform you write on.<br />
            Write it. Ship it. Own it.
          </p>

          <Button variant="outline" size="sm" asChild>
            <a href="/integrations">Integrations</a>
          </Button>
        </div>
      )}
    </div>
  </div>
</section>
