---
import LandingMobileMenu from "@/components/landing/LandingMobileMenu";
import { ArrowUpRight } from "lucide-react";
import { Button } from "@/components/ui/button";

interface Props {
  isSignedIn?: boolean;
}
import { MAX_LANDING_PAGE_WIDTH } from "@/lib/design";
import { AnimatedThemeToggler } from "../ui/animated-theme-toggler";
import type { size } from "astro:schema";
const { isSignedIn = false } = Astro.props as Props;

const desktopNavButtonsList = [
  { title: "Docs", href: "/docs" },
  { title: "Use Cases", href: "/use-cases" },
  { title: "Features", href: "/features" },
  { title: "Components", href: "/components" },
  { title: "Integrations", href: "/integrations" },
  { title: "Contact", href: "/contact" },
];
const mobileNavButtonsList = [
  { title: "Docs", href: "/docs" },
  { title: "Blogs", href: "/blogs" },
  { title: "Features", href: "/features" },
  { title: "Integrations", href: "/integrations" },
  { title: "Contact", href: "/contact" },
  { title: "About", href: "/about" },
];
---

<header
  class="fixed left-0 top-0 z-[10] flex w-full items-center justify-center gap-5 bg-background/80 px-4 py-2 md:px-10 backdrop-blur-[20px]"
>
  <!-- <div class="hidden md:block"></div> -->
  <nav
    style={{ maxWidth: `${MAX_LANDING_PAGE_WIDTH}px` }}
    class="w-full flex items-center justify-between gap-10"
    aria-label="Primary"
  >
    <div>
      <a href="/" aria-label="Whitepapper home" data-astro-prefetch="viewport">
        <img src="/appLogo.png" height="30" width="30" alt="Whitepapper" />
      </a>
      <div class="w-[140px] md:block hidden ml-2"/>
    </div>

    <div class="hidden gap-5 text-[12px] leading-[1em] md:flex" role="list">
      {
        desktopNavButtonsList.map((button) => (
          <a
            href={button.href}
            data-astro-prefetch="viewport"
            class="group flex cursor-pointer gap-2 py-3 px-1 opacity-[0.8] transition-all duration-300 hover:opacity-[1] dark:font-[350] font-[400]"
          >
            {button.title}
            <ArrowUpRight
              size={11}
              className="opacity-[0] transition-all duration-300 group-hover:opacity-[0.5]"
            />
          </a>
        ))
      }
    </div>

    <div class="flex gap-4">
      <AnimatedThemeToggler client:load size={16} className="md:block hidden mr-2"/>
      {
        isSignedIn ? (
          <a href="/dashboard" data-astro-prefetch="viewport">
            <Button> Dashboard </Button>
          </a>
        ) : (
          <a href="/login" data-astro-prefetch="viewport">
            <Button> Login </Button>
          </a>
        )
      }

      <div class="md:hidden">
        <LandingMobileMenu
          client:load
          navButtons={mobileNavButtonsList}
          isSignedIn={isSignedIn}
        />
      </div>
    </div>
  </nav>
</header>
